* {
    box-sizing: border-box;
    position: relative;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Noto Sans TC', sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

header {
    background-color: #FFF;
    border: 1px solid #333;

}

header .container {
    height: 80px;
}

.container img {
    height: 100%;
    margin-left: 32px;
}

ul {
    list-style-type: none;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    width: 50%;
    height: 10vh;
    margin: 0;
    line-height: 80px;
    padding: 0;
    float: right;
    justify-content: space-around;

}

li {
    height: 100%;
    text-align: center;
    color: #000;
    font-size: 16px;
    float: right;

}

ul li:hover {
    color: #89F4F0;
}

div.banner {
    width: 100%;
    height: 60vh;
    background: url(../img/Banner.png);
    opacity: .6;
    border: 1px solid #333;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

div.play {
    width: 100%;
    height: 60vh;
    background-color: #E2E9F5;
    border: 1px solid #333;
    text-align: center;
}

}
.play-carousel .item-video {
    height: 300px
}
.owl-carousel .owl-video-tn {
  background-size: cover;
  padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
}

.owl-video-frame {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.owl-video-frame iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div.news {
    width: 100%;
    height: 50vh;
    background-color: #FFD7EC;
    border: 1px solid #333;
    text-align: center;

    background-color: #131313;
    font: 14px/1.42857143 "Lato", sans-serif;
    color: #fff;
    text-align: center;
    margin: 0;
    letter-spacing: 0.06em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

}

.head {
    margin-top: 70px;
    margin-bottom: 70px;
}

.head h1 {
    font-size: 35px;
    text-transform: uppercase;
}

.head h2 {
    font-weight: normal;
}

.head a {
    color: #d92b4c;
    text-decoration: none;
}

.head a:hover {
    text-decoration: underline;
}

/* Angled Images */
.angled-img {
    position: relative;
    display: block;
    shape-outside: polygon(9% 0, 0 100%, 91% 100%, 100% 0%);
}

.angled-img,
.angled-img:hover,
.angled-img:focus {
    color: inherit;
    text-decoration: none;
    outline: none;
}

.angled-img .img {
    position: relative;
    overflow: hidden;
    -webkit-transform: skew(-8deg);
    transform: skew(-8deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    background: #131313;
    -webkit-backface-visibility: hidden;
}

.angled-img .img>img {
    width: 100%;
    -webkit-transform: skew(8deg) scale(1.15);
    transform: skew(8deg) scale(1.15);
    transition: 0.3s opacity ease;
    -webkit-backface-visibility: hidden;
    opacity: 0.6;
}

.angled-img:hover .img>img {
    opacity: 0.9;
}

/* Carousel */
.card-carousel .angled-img {
    margin-left: -1px;
}

.card-carousel .owl-nav {
    margin: 0;
}

.card-carousel .owl-nav .owl-prev,
.card-carousel .owl-nav .owl-next {
    position: absolute;
    cursor: pointer;
    font-size: 2rem;
    top: 0;
    height: 100%;
    width: 70px;
    transition: 0.3s opacity ease;
    opacity: 1;
    margin: 0;
    padding: 0;
}

.card-carousel .owl-nav .owl-prev:hover,
.card-carousel .owl-nav .owl-next:hover {
    opacity: 0.8;
}

.card-carousel .owl-nav .owl-prev,
.card-carousel .owl-nav .owl-prev:hover {
    left: 0;
    background: linear-gradient(to right, #131313, rgba(19, 19, 19, 0));
}

.card-carousel .owl-nav .owl-next,
.card-carousel .owl-nav .owl-next:hover {
    right: -0.1px;
    background: linear-gradient(to left, #131313, rgba(19, 19, 19, 0));
}




div.download {
    width: 100%;
    height: 80vh;
    background-color: #D6FFE1;
    border: 1px solid #333;
    text-align: center;

    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}

div.download span {
    display: block;
    width: 100%;
    height: 20px;
    background-color: #D6FFE1;
    text-align: center;
    font-size: 24px;
    color: #00F;
}

.img-group {
    position: absolute;
    top: 70%;
    left: 50%;
}

div.download img {
    margin: 24px;
}

div.download img:hover {
    cursor: pointer;
}

div.feedback {
    width: 100%;
    height: 60vh;
    background-color: #F8E6C9;
    border: 1px solid #CCC;
    text-align: center;


}

.form-container {
    width: 50%;
    background-color: #fff;
    border: solid 1px #CCC;
    margin: 0 auto;
    border-radius: 50px;
    box-shadow: 80px 80px 1000px 100px #fff;
}

.input-group,
label {
    margin: 16px;
    font-size: 24px;
}

input,
textarea {
    font-size: 16px;
    margin: 8px;
}

button {
    margin-bottom: 32px;
}

footer {
    margin: 0 auto;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    
}

div.copyright {
    width: 40%;
    font-size: 16px;
}

div.rank {
    width: 30%;
    height: 100%;
    font-size: 8px;
}

div.rank img {
    height: 50px;
    float: left;
    margin: 24px;
}

div.rank p {
    margin: 16px;
}