*{
	box-sizing: border-box;
}
html,body{
	width: 100%;
	height: 100%;
}
header{
	background-color: #FDFBFB;
	border: 1px solid #333;
}
ul{
	list-style-type: none;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	width: 100%;
	height: 80px;
	margin: 0;
	line-height: 80px;
	padding: 0;

}
li{
	position: relative;
	height: 100%;
	width: 25%;
	background-color: #C7C4C4;
	border: 1px solid #333;
	text-align: center;

}
div.banner{
	width: 100%;
	height: 30vh;
	background-color: #FDFBFB;
	border: 1px solid #333;
}
div.news{
	width: 100%;
	height: 30vh;
	background-color: #E2E9F5;
	border: 1px solid #333;
}
div.play{
	width: 100%;
	height: 30vh;
	background-color: #FFD7EC;
	border: 1px solid #333;
}
div.download{
	width: 100%;
	height: 30vh;
	background-color: #D6FFE1;
	border: 1px solid #333;
}
div.feedback{
	width: 100%;
	height: 30vh;
	background-color: #F8E6C9;
	border: 1px solid #333;
	
}
footer{
	height: 30vh;
	margin: 0 auto;
	background-color: #B3B1AD;
	display: flex;
	justify-content: center;
  	align-items: center; 
}
div.copyright{
	width: 40%;
	height: 100%;
	border: 1px solid #333;
}
div.grade{
	width: 30%;	
	height: 100%;
	border: 1px solid #333;
}